!!! 5
html
  head
    meta(name="robots", content="noindex,nofollow")
    meta(name="description", content="A live-search implementation for the Archlinux AUR Query API.")
    title AURLiveSearch
    //This page is generated
    //See the source at https://github.com/cactus/aurlivesearch
    style(type="text/css")
      !{bp_screen_css}
    /if IE
      link(href="/static/bp.ie.css", rel="stylesheet", type="text/css")
    style(type="text/css")
      !{inline_css}
    script#packages_tpl(type="text/html")
      {{#packages}}{{#pkg}}
      tr
        td
          a(href="http://aur.archlinux.org/packages.php?ID={{ID}}") {{ID}}
        td
          a(href="{{URL}}") {{Name}}
        td(class="outofdate-{{OutOfDate}}") {{Version}}
        td.center {{NumVotes}}
        td.center
          a(href="http://aur.archlinux.org{{URLPath}}") tarball
        td {{Description}}
      {{/pkg}}{{/packages}}
    script#error_tpl(type="text/html")
      div
        {{short_msg}}
        {{#long_msg}}
        br
        {{long_msg}}
        {{/long_msg}}
  body
    .container
      .span-9
        | results:
        span#result-count 0
      #searchform.span-7
        .span-6
          form
            label(for="q") Search 
              input#q(name="q", tabindex="1", type="search", 
                      placeholder="Enter search term", autofocus)
        #ajax-loading.span-1.last
      #links.span-8.last
        .quiet
          | v.#{AURSEARCHVER} &rsaquo;
          a(href="https://github.com/cactus/aurlivesearch") about
      hr.space
      #response.span-24.last
        table
          thead
            tr
              th ID
              th Name
              th Version
              th.center Votes
              th.center Tarball
              th(width="500px") Description
          tbody#results
      noscript
        .error.large.prepend-6.append-6.span-12.last
          | Sorry, but Javascript is required for search functionality (ajax).
      #errmsg.error.span-24.last
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js",
           type="text/javascript")
    script(type="text/javascript")
      // ICanHaz.js
      !{icanhazjs}
      // modernizr-custom
      !{modernizrjs}
      // search.coffee
      !{search_coffee}
